
.logoimg {
    width: 50px;
    height: 60px;
    display: flex;
}
/* Sticky Navbar at the Top */
.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #57CC99;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-left: -500px;
    align-items: left;
    font-family: "The Season";
}





.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: left;
}

.nav-links li {
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: #D4C5B9;
    transition: color 0.3s ease;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ffffff;
}


.btn1{
    padding: 15px 30px;
    font-size: 18px;
    color:black;
    background-color: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}